
.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

db.sqlite3
*.sqlite3
media/
staticfiles/

frontend/node_modules/
frontend/dist/
frontend/build/

*.log

.vscode/
.idea/

.DS_Store

README.md
rough.txt
er_digram.txt
frontned.txt

Dockerfile
docker-compose.yml
ai_model/*.bin
ai_model/*.pt
ai_model/*.pth
ai_model/*.h5
ai_model/*.onnx
ai_model/*.joblib
ai_model/*.pkl